body {
    margin: 0px;
    background-color: rgb(255, 243, 227);
    background-image: url(image/background\ atas.jpg);
    background-blend-mode: multiply;
}

.atas {
    width: 100%;
    height: 80px;
    background-color: #ffb5b5ab;
    box-shadow: 1px 5px 5px #eba3a3;
    margin: 0px;
}

.fontker {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: black;
    margin-top: 25px;
    font-size: large;
    position: absolute;
    margin-left: 50px;
}

.kotakker {
    width: 98%;
    height: 200px;
    background-color: #ffb5b5ab ;
    margin-top: 30px;
    margin-left: 15px;
    border-radius: 10px;
}

.gambarker {
    width: 170px;
    margin-top: 15px;
    margin-left: 15px;
    border-radius: 10px;
}